:root {
	/* fonts */
	--barlow: 'Barlow', sans-serif;
	--fraunces: 'Fraunces', serif;

	/* Colors: Primary */
	--Soft-red: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--Dark-desaturated-cyan: #25564b;
	--Dark-blue: hsl(198, 62%, 26%);
	--Dark-moderate-cyan: hsl(168, 61%, 68%);

	/* Colors: Primary */
	--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--Very-dark-grayish-blue: hsl(213, 9%, 39%);
	--Dark-grayish-blue: hsl(232, 10%, 55%);
	--Grayish-blue: hsl(210, 4%, 67%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}

h1 {
	font-family: var(--fraunces);
	font-weight: 900;
	margin-bottom: 2rem;
}

p {
	font-family: var(--barlow);
}

/* Header */
#header {
	background: url('/images/desktop/image-header.jpg') no-repeat center
		center/cover;
	height: 100vh;
}

#header .container {
	padding: 2rem;
}

#header .nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

#header .nav .logo {
	cursor: pointer;
}

#header .nav ul {
	list-style: none;
}

#header .nav ul li {
	display: inline-block;
	margin-left: 1rem;
}

#header .nav a {
	color: #fff;
	text-decoration: none;
	font-family: var(--barlow);
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.9rem 1.3rem;
	cursor: pointer;
	transition: all 0.4s ease-in;
}

#header .nav a:hover {
	opacity: 0.8;
}

#header .nav li:last-child a {
	color: var(--Very-dark-desaturated-blue);
	font-family: var(--fraunces);
	font-weight: 900;
	background-color: #fff;
	border-radius: 25px;
}

#header .nav li:last-child a:hover {
	/* background-color: transparent; */
	background-color: hsla(198, 74%, 71%, 1);
	color: #fff;
	opacity: 1;
}

#header .hero {
	width: 100%;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

.hero h1 {
	margin: auto;
	font-size: 3.2rem;
	letter-spacing: 7px;
	font-weight: 900;
	margin-top: 5rem;
}

.hero .arrow {
	margin-top: 4.5rem;
	animation: arrow 1.2s alternate infinite ease-in-out;
}

.hero .arrow img {
	height: 20vh;
}

@keyframes arrow {
	0% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(20px);
	}
}

/* Main */
#main {
	display: flex;
	flex-wrap: wrap;
}

#main div {
	width: 50%;
}

#main .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text .text-container {
	max-width: 500px;
	min-width: 65%;

	opacity: 0;
}

.text .text-container.left {
	animation: show-left 2s forwards 0.3s ease-in-out;
}

.text .text-container.right {
	animation: show-right 2s forwards 0.3s ease-in-out;
}

.text-container h1 {
	font-size: calc(1.3rem + 1.4vw);
	color: var(--Very-dark-desaturated-blue);
}

.text-container p {
	font-size: 1.1rem;
	line-height: 1.7;
	color: var(--Dark-grayish-blue);
	margin-bottom: 2rem;
}

.text-container a {
	font-family: var(--fraunces);
	font-weight: 900;
	position: relative;
	padding: 8px;
	font-size: 1.1rem;
	cursor: pointer;
}

.text-container a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
	border-radius: 10px;
	left: 0;
	bottom: 5px;
	background-color: #fed201;
	opacity: 0.3;
	z-index: -1;
	transition: opacity 0.4s ease-in;
}

.text-container a.pink:after {
	background-color: #ff7364;
}

.text-container a:hover::after {
	opacity: 1;
}

#main .img picture img {
	width: 100%;
	height: 100%;
}

.background-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 556px;
	text-align: center;
}

.background-text.graphic {
	background: url('/images/desktop/image-graphic-design.jpg') no-repeat center
		center/cover;
}

.background-text.photo {
	background: url('/images/desktop/image-photography.jpg') no-repeat center
		center/cover;
}

.background-text .txt-ctr {
	margin-bottom: 8%;
	opacity: 0.6;
}

.txt-ctr h1 {
	font-size: 1.8rem;
}

.txt-ctr p {
	line-height: 1.6;
	font-size: 1rem;
}

@keyframes show-left {
	0% {
		transform: translateX(-400px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes show-right {
	0% {
		transform: translateX(400px);
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Testemonials */
.testemonials {
	text-align: center;
}

.testemonials .ctr {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% auto;
}

.testemonials .ctr h1 {
	font-size: 1.2rem;
	color: var(--Grayish-blue);
	font-weight: 700;
	letter-spacing: 4px;
	margin-bottom: 4rem;
}

.testemonials .testemonials-ctr {
	display: flex;
	gap: 3rem;
}

.testemonials .testemonial {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 3rem;
}

.testemonials .testemonial img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.testemonials .testemonial p {
	color: var(--Dark-grayish-blue);
	line-height: 1.7;
}

.testemonials .testemonial .bio h4 {
	font-family: var(--fraunces);
	font-weight: 900;
	color: var(--Very-dark-grayish-blue);
	margin-bottom: 10px;
}

.testemonials .testemonial .bio p {
	font-size: 0.8rem;
	color: var(--Dark-grayish-blue);
	opacity: 0.7;
}

.gallery {
	display: flex;
}

.gallery picture img {
	width: 100%;
	height: 100%;
}

/* footer */
#footer {
	text-align: center;
	background: var(--Dark-moderate-cyan);
}

#footer .ctr {
	padding: 5rem 2rem;
}

#footer .logo img {
	filter: invert(30%) sepia(26%) saturate(678%) hue-rotate(116deg)
		brightness(50%) contrast(99%);
	height: 30px;
	width: auto;
}

#footer .list {
	margin: 2rem 0 3rem 0;
	display: flex;
	justify-content: center;
	gap: 3rem;
	color: var(--Dark-desaturated-cyan);
	font-family: var(--barlow);
}

#footer .social img {
	margin-left: 2rem;
	cursor: pointer;
}

#footer .social img:hover {
	filter: invert(100%) sepia(100%) saturate(76%) hue-rotate(356deg)
		brightness(116%) contrast(101%);
}

#footer .list a {
	cursor: pointer;
}

#footer .list a:hover {
	color: #fff;
}

@media (max-width: 1000px) {
	.text .text-container {
		min-width: 85%;
	}

	.txt-ctr h1 {
		font-size: 1.6rem;
	}

	.txt-ctr p {
		font-size: 0.9rem;
	}
}
